#piratequesting-sidebar * {
	-moz-appearance: none;
}

/**
	Sidebar core properties
*/
#piratequesting-sidebar {
	background-color: #FFFFFF !important;
	background-image: url(chrome://piratequesting/content/mainback.jpg)
		!important;
	background-repeat: repeat !important;
	overflow: auto !important;
	font-size: 11px !important;
}

/**
	loading screen in the deck
*/
#pqloadingbox {
	font-size: 12px !important;
	font-weight: bold !important;
	color: #4e462f !important;
}

/**
	All of our tabboxes for modules should follow this
*/
#piratequesting-sidebar tabbox.moduleBox {
	min-height: 50px !important;
	margin: 0px 3px 10px 3px !important;
	padding: 10px 5px 0px 5px !important;
	background-image: url(chrome://piratequesting/content/darrow.png)
		!important;
	background-repeat: no-repeat !important;
	background-position: -100px 0px;
	overflow-x: visible !important;
}

#piratequesting-sidebar>#pqmain_deck>#pqmain_box>#moduleContainer>tabbox.moduleBox>tabpanels
	{
	background-color: #ebe5cb !important;
	border: 1px solid ThreeDShadow;
	-moz-border-radius: 5px;
	padding: 5px;
}

#piratequesting-sidebar>#pqmain_deck>#pqmain_box>#moduleContainer>tabbox.moduleBox>tabpanels>tabpanel
	{
	background-color: #ebe5cb !important;
	/*border-width: 0px !important;*/
	margin: 0px !important;
}

#piratequesting-sidebar tabbox.moduleBox>tabs {
	color: #4e462f !important;
	border-width: 0px !important;
	margin-left: 5px;
}

#piratequesting-sidebar tabbox.moduleBox>tabs>tab {
	color: #4e462f !important;
	border: 1px solid ThreeDShadow;
	border-bottom-width: 0px !important;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background-color: #ebe5cb !important;
	font-weight: normal !important;
}

#piratequesting-sidebar tabbox.moduleBox>tabs>tab:hover {
	border-top-color: #33D0D0 !important;
}

#moduleContainer {
	overflow: auto !important;
}

/**
	For the add tabbox button
*/
#piratequesting-sidebar vbox#moduleContainer>hbox#plusTabboxBox>toolbarbutton
	{
	list-style-image: url(chrome://piratequesting/skin/tabcontrols.png)
		!important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}

/**
	For the close buttons on tabboxes
*/
#piratequesting-sidebar tabbox.moduleBox>tabs>toolbarbutton {
	list-style-image: url(chrome://piratequesting/skin/tabcontrols.png)
		!important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}

#piratequesting-sidebar tabbox.moduleBox>tabs.hideControls>toolbarbutton
	{
	visibility: hidden;
}

/**
	For the main menu
*/
#piratequesting-sidebar toolbox#pqtoolbox>toolbar {
	background-color: #f5efd3 !important;
	border-bottom: 1px solid black;
}

#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem>label,#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem>menubar>menu,#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem>menubar>menu>menupopup>menuitem
	{
	font-size: 12px !important;
	font-weight: bold !important;
	color: #4e462f !important;
}

#piratequesting-sidebar toolbox#pqtoolbox,#piratequesting-sidebar toolbox#pqtoolbox>toolbar,#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem,#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem>menubar,#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem>menubar>menu,#piratequesting-sidebar toolbox#pqtoolbox>toolbar>toolbaritem>menubar>menu>label
	{
	border: 0px !important;
	margin: 0px !important;
}

#piratequesting-sidebar menubar>menu {
	border: 0px !important;
	padding: 2px 5px 2px 7px !important;
	margin: 0px 0px 0px 0px !important;
}

#piratequesting-sidebar menubar>menu[_moz-menuactive="true"],#piratequesting-sidebar menubar>menu>menupopup>menuitem[_moz-menuactive="true"]
	{
	background-color: #63422f !important;
	color: #ffff99 !important;
	font-weight: bold !important;
}

#piratequesting-sidebar menubar>menu>menupopup {
	background-color: #f5efd3 !important;
}

label[type="boldstat"] {
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

label[type="stat"] {
	margin-left: 0;
	margin-right: 0;
	font-weight: normal;
}

label {
	margin: 1px 1px 4px 4px;
}

textbox[type="response"] {
	background-color: #ebe5cb;
}

textbox {
	color: #4e462f;
}

#trainresult {
	margin-left: 10px;
	font-size: 11px;
}

/*button { color: #4e462f; font-weight: bold; -moz-appearance: tabpanels;}*/
label[type="bold"] {
	font-weight: bold;
	color: #4e462f;
}

label[type="cash"] {
	font-weight: bold;
	color: #aa2b00;
}

label[type="link"],label[type="link"]:hover,label[type="link"]:active,label[type="link"]:visited,label[type="link"]:link,label[type="link"]:focus
	{
	color: #4e462f;
	text-decoration: underline;
	cursor: pointer;
}

/*tabpanel { border-width: 5px; background-color: #ebe5cb; padding:0 0 0 0; }
tabbox { margin: 0px 5px 5px 5px; border-width: 5px; }
tabpanel *[type="cover"] { background-color: #ebe5cb; }*/
dialog {
	border: 5px double #63422f;
}

/*
tab:hover { border-top-color:#33D0D0; }

tabs { }
tabpanels {  }

tabpanels[type="closed"] { display: none; }
tabpanels[type="closed"] > tabpanel { display: none;}*/
*[type="hide"] {
	display: none;
}

*[type="show"] {
	
}

/*hbox.menu { background-color: #63422f; color: #ffff99; height:20px; max-height:20px; padding:0px 0px 0px 0px; }
.menutitle { background-color: #63422f; color: #ffff99; font-weight: bold; padding: 2px 10px 2px 10px; margin:0px 0px 0px 0px;}
.menutitle:hover { background-color: #ebe5cb; color: #4e462f; font-weight: bold; padding: 2px 10px 2px 10px; margin:0px 0px 0px 0px;}
*/
groupbox,groupbox *[type="cover"] {
	background-color: #f5efd3;
	margin: 5px;
	border: 1px solid ThreeDShadow;
	-moz-border-radius: 5px;
	padding: 5px;
	-moz-box-pack: center !important;
}

groupbox>hbox.groupbox-title {
	-moz-box-pack: center !important;
}

caption {
	background-color: #white;
	font-weight: bold;
	color: #4e462f;
	border: 1px solid black;
}

treechildren: :-moz-tree-row {
	background-color: #FFFFFF;
	color: #4e462f;
}

treechildren: :-moz-tree-row(odd) {
	background-color: #ddd7b9;
	color: #4e462f;
}

treechildren: :-moz-tree-row (odd,selected ) {
	background-color: #63422f;
	color: #ffff99;
	font-weight: bold;
}

treechildren: :-moz-tree-row(selected) {
	background-color: #63422f;
	color: #ffff99;
	font-weight: bold;
}

treechildren: :-moz-tree-cell-text(selected) {
	background-color: #63422f;
	color: #ffff99;
	font-weight: bold;
}

/*
menulist > menupopup > menuitem { background-color: #ebe5cb; color: #4e462f; font-weight: bold; }
menulist, .menulist-label, .menulist-menupopup, .menulist-label-box, menulist > menupopup > menuitem:hover { background-color: #63422f; color: #ffff99; font-weight: bold; }

menupopup[type="equipment"] { background-color: #f5efd3; width: 250px; }
menupopup[type="equipment"] > menuitem { background-color: #f5efd3; width: 250px;}
menupopup[type="equipment"] > menuitem:hover { background-color: #63422f; color: #ffff99; font-weight: bold; width: 250px;}
menupopup[type="equipment"] > menuseparator { background-color: #f5efd3; color: #4e462f; width: 250px; }
*/
#peren {
	margin-top: 3px;
	margin-bottom: 10px;
	margin-left: 1px;
}

richlistitem:focus {
	background-color: #f5efd3;
}

#inventorylist,#equiplist {
	overflow-y: auto;
}

#inventorylist>hbox,#equiplist>hbox {
	border-width: 1px;
	border-style: outset;
	border-color: #ebe5cb;
}

#inventorylist>hbox label,#equiplist>hbox label {
	color: #4e462f;
}

*[type="cover"] {
	opacity: 0.2;
}

*[type="coverlabel"] {
	color: #000000;
	font-weight: bold;
}

label[type="shadow"] {
	color: #000000;
	font-weight: bold;
	padding-left: 2px;
	padding-top: 2px;
}

groupbox[type="cbox"] {
	background-color: #ffffff;
	opacity: 1.0;
	max-height: 50px;
	max-width: 100px;
}

box[type="cbox"] {
	opacity: 1.0;
	position: relative;
}

tab[status="updated"] {
	color: #ea2b00;
}

#pricelist {
	overflow: auto;
	max-height: 120px;
	min-height: 20px;
	margin-bottom: 10px;
}

#pricelist>listitem {
	text-align: right;
	padding-right: 20px;
}

#pricelist>listitem[order="even"] {
	background-color: #FFFFFF;
	color: #4e462f;
}

#pricelist>listitem[order="odd"] {
	background-color: #ddd7b9;
	color: #4e462f;
}

/*
#pc label { font-size: 7pt; margin-left:5px;margin-bottom:2px;}
#pc { display:none;}
#statsgrid * { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; }
#attsbtn { max-height: 8px; max-width:8px; padding-top:8px;margin:0px 0px 0px 0px; }
#attsbtn hbox { display:none; }
*/
#delete_events {
	border: 1px solid black;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #D70000;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 8px;;
	margin-bottom: 0px;
}

label[type="abortbutton"] {
	max-width: 30px;
	height: 14px;
	max-height: 14px;
	border: 1px solid black;
}